.container {
  max-width: 1300px;
  min-width: 1300px;
  margin: 0px auto;
  align-self: center; }
  @media screen and (max-width: 1320px) {
    .container {
      max-width: 900px;
      min-width: 900px; } }
  @media screen and (max-width: 920px) {
    .container {
      max-width: 600px;
      min-width: 600px; } }
  @media screen and (max-width: 620px) {
    .container {
      max-width: 350px;
      min-width: 350px; } }
  @media screen and (max-width: 360px) {
    .container {
      max-width: 100%;
      width: 100%;
      min-width: 0px;
      margin-left: 0px;
      margin-right: 0px; } }

.container-stretch {
  max-width: 1300px;
  margin: 0px auto;
  height: 100%;
  padding: 0px 10px; }
  @media screen and (max-width: 620px) {
    .container-stretch {
      padding: 0px 5px; } }

.text-primary {
  color: #5e42b0; }

.text-dark {
  color: #0a0e34; }

.text-white {
  color: #fff; }

.text-light {
  color: #e7e7e7; }

.text-secondary {
  color: #c1c1c1; }

.text-thin {
  font-weight: 300; }

.text-regular {
  font-weight: 400; }

.text-semibold {
  font-weight: 600; }

.text-bold {
  font-weight: 700; }

.bg-primary {
  background-color: #5e42b0; }

.bg-dark {
  background-color: #0a0e34; }

.bg-light {
  background-color: #e7e7e7; }

.bg-white {
  background-color: #fff; }

.after-primary::after {
  background-color: #5e42b0; }

.after-dark::after {
  background-color: #0a0e34; }

.after-light::after {
  background-color: #e7e7e7; }

.after-white::after {
  background-color: #fff; }

.h-auto {
  height: auto; }

.container {
  max-width: 1300px;
  min-width: 1300px;
  margin: 0px auto;
  align-self: center; }
  @media screen and (max-width: 1320px) {
    .container {
      max-width: 900px;
      min-width: 900px; } }
  @media screen and (max-width: 920px) {
    .container {
      max-width: 600px;
      min-width: 600px; } }
  @media screen and (max-width: 620px) {
    .container {
      max-width: 350px;
      min-width: 350px; } }
  @media screen and (max-width: 360px) {
    .container {
      max-width: 100%;
      width: 100%;
      min-width: 0px;
      margin-left: 0px;
      margin-right: 0px; } }

.container-stretch {
  max-width: 1300px;
  margin: 0px auto;
  height: 100%;
  padding: 0px 10px; }
  @media screen and (max-width: 620px) {
    .container-stretch {
      padding: 0px 5px; } }

@media screen and (max-width: 620px) {
  .hide-sm {
    display: none; } }

.show-sm {
  display: none; }
  @media screen and (max-width: 620px) {
    .show-sm {
      display: initial; } }

.fast {
  transition: .3s; }

.smooth {
  transition: .5s; }

.long {
  transition: .8s; }

.very-long {
  transition: 1.2s; }

.delay-1 {
  transition-delay: 0.2s; }

.delay-2 {
  transition-delay: 0.4s; }

.delay-3 {
  transition-delay: 0.6s; }

.delay-4 {
  transition-delay: 0.8s; }

.delay-5 {
  transition-delay: 1s; }

.delay-6 {
  transition-delay: 1.2s; }

.delay-7 {
  transition-delay: 1.4s; }

.delay-8 {
  transition-delay: 1.6s; }

.delay-9 {
  transition-delay: 1.8s; }

.delay-10 {
  transition-delay: 2s; }

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

html {
  font-family: "Proxima Nova";
  font-size: 62.5%; }

h1 {
  text-transform: uppercase; }

h2 {
  text-transform: uppercase; }

h3 {
  text-transform: uppercase; }

h4 {
  text-transform: uppercase; }

h5 {
  text-transform: uppercase; }

h6 {
  text-transform: uppercase; }

h1 {
  font-size: 9rem; }

h4 {
  font-size: 3.6rem; }

h5 {
  font-size: 1.4rem; }

a {
  text-decoration: none; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

body {
  overflow: hidden; }

.loader-wrapper {
  position: fixed;
  z-index: 200;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  background-color: #fff; }

.loader {
  position: relative;
  z-index: 300;
  margin: 75px auto;
  width: 150px;
  height: 150px;
  display: block;
  margin: 0px auto;
  overflow: hidden; }
  .loader div {
    height: 100%; }

.loader, .loader div {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotate linear 3.5s infinite;
  border-top-color: #5e42b0;
  border-left-color: #0a0e34;
  animation-timing-function: cubic-bezier(0.55, 0.38, 0.21, 0.88);
  animation-duration: 3s; }

.intro {
  position: relative;
  min-height: 800px;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 100px;
  background-image: url("img/header.jpg");
  background-position: center;
  background-size: cover; }
  @media screen and (max-width: 1320px) {
    .intro {
      min-height: 600px;
      padding-top: 45px;
      padding-bottom: 70px; } }
  @media screen and (max-width: 920px) {
    .intro {
      min-height: 500px;
      padding-top: 40px;
      padding-bottom: 60px; } }
  @media screen and (max-width: 620px) {
    .intro {
      min-height: 450px;
      padding-top: 30px;
      padding-bottom: 30px; } }
  .intro::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(10, 14, 52, 0.9); }
  .intro .container-stretch {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 920px) {
      .intro .container-stretch {
        justify-content: space-between; } }
  @media screen and (max-width: 620px) {
    .intro .download-group {
      margin-bottom: 30px; } }

.top {
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 620px) {
    .top {
      justify-content: center; } }
  @media screen and (max-width: 620px) {
    .top__additional {
      display: none; } }

.main-header {
  position: relative; }
  @media screen and (max-width: 920px) {
    .main-header {
      margin-bottom: auto; } }
  @media screen and (max-width: 1320px) {
    .main-header__string {
      font-size: 7.2rem; } }
  @media screen and (max-width: 920px) {
    .main-header__string {
      font-size: 6.4rem; } }
  @media screen and (max-width: 620px) {
    .main-header__string {
      font-size: 3.2rem; } }
  .main-header__string--right {
    position: relative;
    z-index: 100; }
    .main-header__string--right.preanimated {
      transform: translateX(100%);
      opacity: 0; }
  .main-header__string--left {
    margin-left: auto;
    width: 1001px; }
    @media screen and (max-width: 1320px) {
      .main-header__string--left {
        width: 801px; } }
    @media screen and (max-width: 920px) {
      .main-header__string--left {
        width: 453px; } }
    @media screen and (max-width: 620px) {
      .main-header__string--left {
        width: initial;
        max-width: 227px; } }
    .main-header__string--left.preanimated {
      transform: translateX(-100%);
      opacity: 0; }
  .main-header__cross-line {
    position: absolute;
    top: 107px;
    left: 158px;
    width: 406.2px;
    height: 5.6px;
    background-color: #5e42b0;
    transform: rotateZ(-52deg) translateX(0px) translateY(0px); }
    @media screen and (max-width: 1320px) {
      .main-header__cross-line {
        width: 325px;
        height: 4.5px;
        top: 85px;
        left: 10px; } }
    @media screen and (max-width: 920px) {
      .main-header__cross-line {
        z-index: -100;
        width: 406.2px;
        height: 5.6px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(-52deg); } }
    @media screen and (max-width: 620px) {
      .main-header__cross-line {
        width: 203.1px;
        height: 2.8px; } }
    .main-header__cross-line.preanimated {
      transform: rotateZ(-52deg) translateX(406px);
      opacity: 0; }
      @media screen and (max-width: 920px) {
        .main-header__cross-line.preanimated {
          transform: translate(-50%, -50%) rotateZ(-52deg);
          opacity: 1; } }

.sports-wrapper {
  margin-bottom: auto; }
  @media screen and (max-width: 620px) {
    .sports-wrapper {
      margin-bottom: 0px;
      order: 100; } }

.sports {
  width: 576px;
  display: flex;
  justify-content: space-between;
  margin-left: auto; }
  @media screen and (max-width: 920px) {
    .sports {
      width: 100%; } }
  @media screen and (max-width: 620px) {
    .sports {
      flex-wrap: wrap;
      justify-content: center; } }
  @media screen and (max-width: 920px) {
    .sports__sport {
      font-size: 1.6rem; } }
  @media screen and (max-width: 620px) {
    .sports__sport {
      flex-basis: 33.33333%;
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 1.2rem; } }
  .sports__sport.preanimated {
    transform: translateY(100px);
    opacity: 0; }
    @media screen and (max-width: 620px) {
      .sports__sport.preanimated {
        transform: none;
        opacity: 1; } }

.download-group {
  align-self: center;
  width: 672px;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 920px) {
    .download-group {
      width: 587px; } }
  @media screen and (max-width: 620px) {
    .download-group {
      width: 292px; } }

.button {
  width: 311px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 39px;
  background-color: #5e42b0;
  box-shadow: 0px 10px 10px #0a0e34; }
  @media screen and (max-width: 920px) {
    .button {
      width: 280px;
      height: 70px;
      border-radius: 35px;
      box-shadow: 0px 9px 9px #0a0e34; } }
  @media screen and (max-width: 620px) {
    .button {
      width: 142px;
      height: 39px;
      border-radius: 19.5px;
      box-shadow: 0px 7px 7px #0a0e34; } }
  .button:hover {
    background-color: #553b9e; }
  .button:active {
    background-color: #4b358d; }
  .button__icon {
    width: 35px;
    margin-right: 25px; }
    @media screen and (max-width: 620px) {
      .button__icon {
        width: 15px;
        margin-right: 10px; } }

.button-content {
  color: #fff; }
  .button-content__text {
    font-weight: 300; }
    @media screen and (max-width: 620px) {
      .button-content__text {
        font-size: 0.8rem; } }
  .button-content__market-name {
    font-weight: 600; }
    @media screen and (max-width: 620px) {
      .button-content__market-name {
        font-size: 0.8rem; } }

.athlets-and-players {
  overflow: hidden; }

.steps--default {
  position: relative; }
  .steps--default .picture-outer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%); }
  .steps--default .picture-inner {
    position: relative;
    top: 50%;
    width: 0px; }
  .steps--default .steps__picture {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    @media screen and (max-width: 1320px) {
      .steps--default .steps__picture {
        height: 700px; } }
    @media screen and (max-width: 920px) {
      .steps--default .steps__picture {
        height: 600px; } }
  .steps--default .section-header {
    padding-top: 110px; }
    @media screen and (max-width: 1320px) {
      .steps--default .section-header {
        padding-top: 90px; } }
    @media screen and (max-width: 920px) {
      .steps--default .section-header {
        padding-top: 60px; } }

.steps--content-right .picture-inner {
  top: calc(50% + 30px);
  left: calc(100% - 50% - 60px); }
  @media screen and (max-width: 1320px) {
    .steps--content-right .picture-inner {
      top: calc(50% + 20px);
      left: calc(100% - 50% - 40px); } }
  @media screen and (max-width: 920px) {
    .steps--content-right .picture-inner {
      top: calc(50% + 10px);
      left: calc(100% - 55% - 20px); } }

.steps--content-right .steps__picture {
  right: 0px; }
  .steps--content-right .steps__picture.preanimated {
    transform: translate(-100%, -50%);
    opacity: 0; }

.steps--content-right .section-header {
  position: relative;
  z-index: 100;
  margin-left: calc(100% - 50% + 60px); }
  @media screen and (max-width: 1320px) {
    .steps--content-right .section-header {
      margin-left: calc(100% - 50% + 40px); } }
  @media screen and (max-width: 920px) {
    .steps--content-right .section-header {
      margin-left: calc(100% - 55% + 20px); } }

.steps--content-right .step-inner {
  position: relative;
  z-index: 100;
  margin-left: calc(100% - 50% + 60px);
  padding-right: 35px; }
  @media screen and (max-width: 1320px) {
    .steps--content-right .step-inner {
      margin-left: calc(100% - 50% + 40px); } }
  @media screen and (max-width: 920px) {
    .steps--content-right .step-inner {
      margin-left: calc(100% - 55% + 20px); } }
  @media screen and (max-width: 620px) {
    .steps--content-right .step-inner {
      padding-right: 20px; } }

.steps--content-left .picture-inner {
  top: calc(50% + -100px);
  left: calc(50% + 60px + -180px); }
  @media screen and (max-width: 1320px) {
    .steps--content-left .picture-inner {
      top: calc(50% + -80px);
      left: calc(50% + 40px + -100px); } }
  @media screen and (max-width: 920px) {
    .steps--content-left .picture-inner {
      top: calc(50% + 0px);
      left: calc(55% + 20px + -90px); } }

.steps--content-left .section-header {
  margin-right: calc(50% + 60px);
  padding-left: 35px; }
  @media screen and (max-width: 1320px) {
    .steps--content-left .section-header {
      margin-right: calc(50% + 40px); } }
  @media screen and (max-width: 920px) {
    .steps--content-left .section-header {
      margin-right: calc(55% + 20px); } }
  @media screen and (max-width: 620px) {
    .steps--content-left .section-header {
      padding-left: 20px; } }

.steps--content-left .steps__picture {
  left: 0px; }
  .steps--content-left .steps__picture.preanimated {
    transform: translate(100%, -50%);
    opacity: 0; }

.steps--content-left .step-inner {
  margin-right: calc(100% - 50% + 60px);
  padding-left: 35px; }
  @media screen and (max-width: 1320px) {
    .steps--content-left .step-inner {
      margin-right: calc(100% - 50% + 40px); } }
  @media screen and (max-width: 920px) {
    .steps--content-left .step-inner {
      margin-right: calc(100% - 55% + 20px); } }
  @media screen and (max-width: 620px) {
    .steps--content-left .step-inner {
      padding-left: 20px; } }

.steps--mobile .section-header {
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: -40px; }

.steps--mobile .steps__picture {
  position: relative;
  z-index: 100;
  top: 50px;
  display: block;
  min-width: 250px;
  margin: 0px auto; }

.steps--mobile .slider {
  background-color: #e7e7e7; }

.steps--mobile .step {
  padding: 80px 15px 70px; }

.steps--mobile .step-header__number::after {
  background-color: #5e42b0; }

.section-header {
  color: #e7e7e7; }
  @media screen and (max-width: 1320px) {
    .section-header {
      font-size: 7.2rem; } }
  @media screen and (max-width: 920px) {
    .section-header {
      font-size: 6.4rem; } }
  @media screen and (max-width: 620px) {
    .section-header {
      font-size: 3.2rem; } }

.step {
  padding: 60px 0px; }
  @media screen and (max-width: 1320px) {
    .step {
      padding: 50px 0px; } }
  @media screen and (max-width: 920px) {
    .step {
      padding: 40px 0px; } }
  @media screen and (max-width: 620px) {
    .step {
      padding: 30px 0px; } }
  .step__text {
    font-size: 2rem; }
    @media screen and (max-width: 620px) {
      .step__text {
        font-size: 1.5rem; } }

.step-header {
  display: flex;
  align-items: center;
  margin-bottom: 25px; }
  .step-header__number {
    font-size: 2rem;
    margin-right: 10px; }
    @media screen and (max-width: 620px) {
      .step-header__number {
        font-size: 1.4rem; } }
    .step-header__number::after {
      content: '';
      display: block;
      width: 100%;
      height: 5px;
      border-radius: 2.5px; }
      @media screen and (max-width: 620px) {
        .step-header__number::after {
          height: 4px;
          border-radius: 2px; } }
  .step-header__text {
    font-size: 3.6rem;
    color: #c1c1c1; }
    @media screen and (max-width: 920px) {
      .step-header__text {
        font-size: 3.4rem; } }
    @media screen and (max-width: 620px) {
      .step-header__text {
        font-size: 2.8rem; } }

.slider {
  position: relative;
  overflow: hidden;
  width: 100%; }

.slider-items {
  position: relative;
  left: 0px;
  top: 0px;
  display: flex;
  width: 300%; }
  .slider-items__item {
    width: 100%; }

.slider-indicators {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center; }
  .slider-indicators__item {
    width: 10px;
    height: 10px;
    margin: 0px 5px;
    border-radius: 5px;
    background-color: #c1c1c1; }
    .slider-indicators__item.active {
      background-color: #5e42b0; }

.action {
  position: relative;
  max-height: 750px;
  display: flex; }
  @media screen and (max-width: 1320px) {
    .action {
      flex-direction: column;
      max-height: initial; } }
  .action__picture {
    position: relative;
    width: 50%;
    overflow: hidden; }
    @media screen and (max-width: 1320px) {
      .action__picture {
        width: 100%;
        height: 700px; } }
    @media screen and (max-width: 920px) {
      .action__picture {
        height: 600px; } }
    @media screen and (max-width: 620px) {
      .action__picture {
        height: 350px; } }
    .action__picture.be-active {
      background-image: url("img/be-active.jpg");
      background-size: cover;
      background-position: center; }
    .action__picture.find-contact {
      background-image: url("img/find-contact.jpg");
      background-size: cover;
      background-position: center; }
    .action__picture.work-it {
      background-image: url("img/work-it.jpg");
      background-size: cover;
      background-position: center; }
  .action-content {
    margin-left: 130px;
    margin-right: auto; }
    @media screen and (max-width: 1320px) {
      .action-content {
        margin: 0px;
        margin-left: 35px; } }
    @media screen and (max-width: 620px) {
      .action-content {
        margin-left: 20px; } }
  .action--reverse {
    flex-direction: row-reverse; }
    @media screen and (max-width: 1320px) {
      .action--reverse {
        flex-direction: column; } }
    .action--reverse .action-content {
      margin-left: auto;
      margin-right: 130px; }
      @media screen and (max-width: 1320px) {
        .action--reverse .action-content {
          margin: 0px;
          margin-left: 35px; } }
      @media screen and (max-width: 620px) {
        .action--reverse .action-content {
          margin-left: 20px; } }

.action-content::after {
  content: '';
  display: block;
  width: 25px;
  height: 5px;
  border-radius: 2.5px;
  margin-top: 90px;
  margin-bottom: 140px;
  background-color: #5e42b0; }
  @media screen and (max-width: 1320px) {
    .action-content::after {
      margin-top: 60px;
      margin-bottom: 65px; } }
  @media screen and (max-width: 620px) {
    .action-content::after {
      margin-top: 25px;
      margin-bottom: 50px; } }

.action-content__header {
  color: #e7e7e7;
  margin-top: 290px;
  transform: translateY(-50%); }
  @media screen and (max-width: 1320px) {
    .action-content__header {
      transform: none;
      margin-top: 90px;
      margin-bottom: 35px; } }
  @media screen and (max-width: 620px) {
    .action-content__header {
      margin-top: 35px;
      margin-bottom: 25px;
      font-size: 2.8rem; } }

.action-content__text {
  font-size: 2.4rem;
  width: 400px;
  height: auto; }
  @media screen and (max-width: 1320px) {
    .action-content__text {
      width: initial; } }

.action-number {
  position: absolute;
  top: 290px;
  left: 50%;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e42b0;
  transform: translateX(-50%) translateY(-50%) scale(1) rotateZ(0deg); }
  @media screen and (max-width: 1320px) {
    .action-number {
      top: 700px;
      left: 35px;
      width: 140px;
      height: 140px;
      transform: translateY(-80%); } }
  @media screen and (max-width: 920px) {
    .action-number {
      top: 600px;
      width: 120px;
      height: 120px; } }
  @media screen and (max-width: 620px) {
    .action-number {
      top: 350px;
      left: 20px;
      width: 70px;
      height: 70px; } }
  .action-number.preanimated {
    transform: translateX(-50%) translateY(-50%) scale(0) rotateZ(180deg);
    opacity: 0; }
    @media screen and (max-width: 1320px) {
      .action-number.preanimated {
        transform: translateY(-180%) scale(0); } }
  .action-number__text {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 700; }
    @media screen and (max-width: 620px) {
      .action-number__text {
        font-size: 1.4rem; } }
    .action-number__text::after {
      content: '';
      display: block;
      width: 100%;
      height: 5px;
      border-radius: 2.5px;
      margin-top: 5px;
      background-color: #fff;
      opacity: 0.3; }
      @media screen and (max-width: 620px) {
        .action-number__text::after {
          height: 4px;
          border-radius: 2px; } }

.footer {
  position: relative;
  height: 100vh;
  min-height: 1000px;
  background-image: url("img/footer-bg-image.jpg");
  background-size: cover;
  background-position: center; }
  .footer::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(10, 14, 52, 0.9); }
  @media screen and (max-width: 1320px) {
    .footer {
      min-height: 800px; } }
  @media screen and (max-width: 920px) {
    .footer {
      min-height: 600px; } }
  @media screen and (max-width: 620px) {
    .footer {
      min-height: 500px; } }
  .footer-inner {
    position: relative;
    z-index: 100;
    height: 100%;
    display: flex;
    flex-direction: column; }

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%; }

.footer-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .footer-header::before {
    content: '';
    position: absolute;
    z-index: -100;
    top: 50%;
    left: 0px;
    display: block;
    width: 210px;
    height: 6.7px;
    transform: rotateZ(-55deg) translateY(-50%);
    background-color: #5e42b0; }
    @media screen and (max-width: 1320px) {
      .footer-header::before {
        width: 190px;
        height: 6px; } }
    @media screen and (max-width: 920px) {
      .footer-header::before {
        width: 170px;
        height: 6px; } }
    @media screen and (max-width: 620px) {
      .footer-header::before {
        width: 85px;
        height: 4px; } }
  .footer-header::after {
    content: '';
    position: absolute;
    z-index: -100;
    top: 50%;
    right: 5%;
    display: block;
    width: 420px;
    height: 6.7px;
    transform: rotateZ(-55deg) translateY(-50%);
    background-color: #5e42b0; }
    @media screen and (max-width: 1320px) {
      .footer-header::after {
        width: 380px;
        height: 6px; } }
    @media screen and (max-width: 920px) {
      .footer-header::after {
        width: 320px;
        height: 5px; } }
    @media screen and (max-width: 620px) {
      .footer-header::after {
        width: 155px;
        height: 4px; } }
  .footer-header__title {
    color: #fff;
    line-height: 9rem; }
    @media screen and (max-width: 920px) {
      .footer-header__title {
        font-size: 7rem;
        line-height: 7rem; } }
    @media screen and (max-width: 620px) {
      .footer-header__title {
        font-size: 3.4rem;
        line-height: 3.4rem; } }
  .footer-header__subtitle {
    font-size: 3.6rem;
    color: #7c63c5; }
    @media screen and (max-width: 920px) {
      .footer-header__subtitle {
        font-size: 3rem; } }
    @media screen and (max-width: 620px) {
      .footer-header__subtitle {
        font-size: 1.5rem; } }

.download-app {
  display: flex;
  margin-bottom: 150px; }
  @media screen and (max-width: 920px) {
    .download-app {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 70px; } }
  @media screen and (max-width: 620px) {
    .download-app {
      margin-bottom: 60px; } }
  .download-app__logo {
    margin-right: 20px; }
    @media screen and (max-width: 920px) {
      .download-app__logo {
        margin-bottom: 70px; } }
    @media screen and (max-width: 620px) {
      .download-app__logo {
        width: 73px;
        margin-bottom: 60px; } }
    .download-app__logo.preanimated {
      transform: translateX(-200%);
      opacity: 0; }

.footer-bottom {
  position: relative;
  display: flex;
  align-items: center;
  margin: 60px;
  margin-top: 0px; }
  @media screen and (max-width: 1320px) {
    .footer-bottom {
      margin: 40px; } }
  @media screen and (max-width: 920px) {
    .footer-bottom__brand {
      display: none; } }
  .footer-bottom__contact {
    position: absolute;
    right: 0px;
    text-transform: capitalize;
    font-size: 2rem;
    color: #fff; }
    @media screen and (max-width: 920px) {
      .footer-bottom__contact {
        display: none; } }

.footer-social {
  position: absolute;
  left: 50%;
  width: 140px;
  display: flex;
  justify-content: space-between;
  transform: translateX(-50%); }
  @media screen and (max-width: 620px) {
    .footer-social__icon {
      width: 17px;
      height: 17px; } }
  .footer-social__icon.preanimated {
    transform: translateY(-100px);
    opacity: 0; }
