.footer-social {
    position: absolute;
    left: 50%;
    width: 140px;
    display: flex;
    justify-content: space-between;
    transform: translateX(-50%);

    &__icon {
        @include from(sm) {
            width: 17px;
            height: 17px;
        }

        &.preanimated {
            transform: translateY(-100px);
            opacity: 0
        }
    }
}