@import "../variables";

.slider-indicators {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    &__item {
        $r: 5px;
        width: $r*2;
        height: $r*2;
        margin: 0px $r;
        border-radius: $r;
        background-color: $color-secondary;

        &.active {
            background-color: $color-primary;
        }
    }
}