.sports {
    width: 576px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    @include from(md) {
        width: 100%;
    }
    @include from(sm) {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &__sport {
        @include from(md) {
            font-size: 1.6rem;
        }
        @include from(sm) {
            padding: 0px 14px;
            font-size: 1.2rem;
            line-height: 2em;
        }
        
        &.preanimated {
            transform: translateY(100px);
            opacity: 0;

            @include from(sm) {
                transform: none;
                opacity: 1;
            }
        }
    }
}