.sports {
    width: 576px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    @include from(md) {
        width: 100%;
    }
    @include from(sm) {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__sport {
        @include from(md) {
            font-size: 1.6rem;
        }
        @include from(sm) {
            flex-basis: (100%/3);
            text-align: center;
            font-size: 1.2rem;
            margin-bottom: 1.2rem;
        }
        
        &.preanimated {
            transform: translateY(100px);
            opacity: 0;

            @include from(sm) {
                transform: none;
                opacity: 1;
            }
        }
    }
}